{% extends "base.html" %}

{% block title %} &ndash; {{ _('Archives') }}{% endblock %}

{% block content %}
<article class="single">
  <header>
    <h1 id="archives">{{ _('Archives') }}</h1>
  </header>
  <div>
    <dl>
      {% set ns = namespace(previous_date=False) %} 

      {% for article in dates %}
        {% if article.locale_date != ns.previous_date %}
	  {% if article.locale_date[9] != ns.previous_date[9] %}
	    <h2> {{ article.locale_date[6:10]  }}  </h2>
	  {% endif %}
          {% set ns.previous_date = article.locale_date %}
          <dt>{{ article.locale_date }}</dt>
        {% endif %}

        <dd>
          <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
        </dd>
      {% endfor %}
    </dl>
  </div>
</article>
{% endblock %}
