{% if DEFAULT_PAGINATION %}
{% set total = articles_paginator.num_pages %}
{% set current = articles_page.number %}
<div class="pagination">
  {% if current > 3 %}
    <a class="btn" href="{{ SITEURL }}/{{ articles_paginator.page(1).url }}">1</a>
    ...
  {% endif %}
  {% for num in range(current - 2, current + 3) %}
    {% if num > 0 and num <= total %}
      {% if num == current %}
        <a class="btn_disabled" >{{ num }}</a>
      {% else %}
        <a class="btn" href="{{ SITEURL }}/{{ articles_paginator.page(num).url }}">{{ num }}</a>
      {% endif %}
    {% endif %}
  {% endfor %}
  {% if current < total - 2 %}
   ...
    <a class="btn" href="{{ SITEURL }}/{{ articles_paginator.page(total).url }}">{{ total }}</a>
  {% endif %}
</div>
{% endif %}
